html, body{
    margin: 0;
    padding:0%;
    min-height: 100%;
}
.main-header{
    background-color: aqua;
    background-size: cover;
    padding: 1em;
}


.nav-header{
    text-align: center;
    text-decoration: underline;
    font-weight: 600;
}

.nav li{
    display:inline;
    padding: 5em;
}
.nav ul{
    text-align: center;
    font-size: larger;
}

